<div class="jumbotron ">
  <h1 class="display-4 d-inline-block">Loggd.</h1>
  <h2 class="text-muted d-inline-block"><small><%= t('home.tagline') %></small></h2>
  <p class="lead"><%= t('home.lead') %></p>
  <hr class="my-4">
  <h2 class="my-4"><%= t('home.offer') %></h2>
  <h3 class="my-4"><%= fa_icon 'lock' %>&nbsp;<%= t('home.privacy') %></h3>
  <p><%= t('home.privacy_tagline') %></p>
  <h3 class="my-4"><%= fa_icon 'code' %>&nbsp;<%= t('home.simplicity') %></h3>
  <p><%= t('home.simplicity_tagline') %></p>
  <hr class="my-4">
  <p><%= t('home.call_to_action') %></p>
  <a href="<%= new_user_registration_path %>" class="btn btn-info btn-lg" role="button"><%= t('sign_up') %></a>
</div>

<% if @journals.any? %>
  <h1 class="text-sm"><%= t('home.public_journals') %></h1>
  <div class="card-columns">
    <% @journals.each do |journal| %>
      <%= journal.public_card_view %>
    <% end %>
  </div>
<% end %>
