<% if can? :manage, @journal %>
  <%= link_to 'Edit', edit_journal_path(@journal) %> |
  <%= link_to 'Back', journals_path %>
<% end %>

<h1><%= @journal.name %></h1>
<p><%= @journal.description %></p>
<h2>Entries</h2>
<%= render 'entries/list', journal: @journal %>
