<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Loggd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#50394f">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= controller_stylesheet %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= controller_javascript %>
  </head>

  <body>
    <section id="wrapper">
      <%= render 'layouts/navbar' %>
      <section class="container" id="content">
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </section>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
